<div id='container' ng-app ="shortly.links" ng-controller = "LinksController">
  <!-- Your html here -->
  
  <div ng-repeat="(key, value) in data track by $index">

    <div class="link" ng-repeat="(link, url) in value " ng-click = "redirectLink(url.code)">
      <img src="../../assets/redirect_icon.png">
      <div class="title"> {{ url.title }} </div>
      <div > {{ url.base_url + '/#/' + url.code }} </div>
      <div class="original"> {{ url.url }} </div>
      <div class = "visits count"> {{ url.visits }} </div>
    </div>
  </div>
</div>
